{
    "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "EventHubConnectionString": "YOUR_EVENT_HUB_CONNECTION_STRING_WITH_ENTITY_PATH"
  }
}